
{% extends 'main.html' %}

{% block content %}
{% include 'inc/chef_navbar.html' %}
    <div class="bg-dark bg-gradient text-white  py-1 px-5  d-grid " >
        <div class="container">
            <a class="text-white"  href="/">Home /</a>
            <a class="text-white"  href="#">Order Summary </a>
        </div>
    </div>
    <div class="col-md-8 mx-auto mt-5">
        <div class="card shadow mb-5">
            <div class="card-body mt-2 p-5 ">
                <h4 class="text-center  p-2 mb-4   font-weight-bold">All Order Summary</h4>
                    <table class="table table-hover text-center table-bordereds table-stripeds">
                        <thead>
                            <tr>
                                <th></th>
                                {% comment %} <th>ordered at</th> {% endcomment %}
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for table in table %}
                                <tr>
                                <td class="text-uppercase fw-bold">{{table.table_name }}</td>

                                {% for order in order %}
                                    
                                    {% if table.id == order.table.id %}
                                        <tr>
                                            <td>{{order.created_at }}</td>
                                            <td>{{order.item.item_name }}</td>
                                            <td>{{order.quantity }}</td>
                                            <td><a href="{% url 'item_delivered' order.id %}"class="btn btn btn-outline-success">Delivered</a></td>
                                        </tr>
                                    {% comment %} {% else %}
                                        <tr>empty</tr> {% endcomment %}
                                    {% endif %}
                                        
                                    
                                {% endfor %}
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                {% comment %} {% else %}   
                    <div class="text-center">
                        <hr>
                        <h4 >Complete all order request</h4>
                    </div>
                {% endif %} {% endcomment %}
                    
            </div>
        </div>
    </div>


{% endblock content %}
